{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">

  <div class="row">
    <div class="form-group">
      <label for="title" class="col-lg-4 col-lg-offset-4">Page Title</label>
            <div class="col-lg-4 col-lg-offset-4">
              <input name="title" type="text" class="form-control"/>
            </div>
    </div>


    <div class="col-lg-4 col-lg-offset-4">
      <div>AUTHOR NAME</div>
      <input name="content" type="text" class="form-control"/>
    </div>




    <div class="col-lg-4 col-lg-offset-4">
      <div>AUTHOR EMAIL</div>
      <input name="urlTitle" type="text" class="form-control"/>
    </div>




      <div class="col-lg-4 col-lg-offset-4">
        <div>CONTENT</div>
        <input name="content" type="text" class="form-control"/>
      </div>


      <div class="col-lg-4 col-lg-offset-4">
        <div>STATUS</div>
        <input name="status" type="text" class="form-control"/>
      </div>

    <div class="col-lg-4 col-lg-offset-4">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </div>
  </form>
{% endblock %}
